<!doctype html>
<html>

<head>
  <title>To-Do List</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <h1>To-Do List</h1>

  {# A to-do item must be an object with .id and .value properties. The .id is
  used to build the URL for marking the to-do item as done, while the .value is
  displayed to the user as-is. #}

  {% if not todos %}
  <p>No to-dos yet!</p>
  {% else %}
  <ul>
    {% for todo in todos %}
    <li>
      {{ todo.value }}
      <form method="post" action="{{ url_for('done', id=todo.id) }}" style="display:inline;">
        <button type="submit">Done</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <form method="post" action="{{ url_for('add') }}">
    <input name="item" required autofocus>
    <input type="submit" value="Add">
  </form>
</body>

</html>
